body{
    background-color: rgb(89, 89, 212);
}

/* homepage style */
.homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    
}

h1{
    color:white;
}

.playbtn{
    border-radius: 20px;
    border-style: none;
    width: 180px;
    height: 30px;
    background-color: rgb(97, 206, 97);
    color: white;
}


/* questions page style */

.questionpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    height: 300px;
    width: 800px;
    margin-top: 100px;
    margin-left: 280px;
}

#heading{
    color: black;
}

.opt{
    background-color: rgb(41, 145, 185);
    color: white;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border-style: none;
    width: 350px;
    height: 30px;
}

.options{
    margin-left: 40px;
}

.previous{
    background-color: rgb(68, 68, 231);
    color: white;
    border-style: none;
    border-radius: 3px;
    margin-right: 20px;
}

.next{
    background-color: rgb(78, 185, 78);
    color: white;
    border-style: none;
    border-radius: 3px;
    margin-right: 20px;
}

.quit{
    background-color: rgb(241, 70, 70);
    color: white;
    border-style: none;
    border-radius: 3px;
    
}

.btns{
    margin-top: 20px;
}


/* Result page style */


.resultpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  
}


.reshead{
    color: rgb(62, 202, 62);
}

.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    height:300px;
    width:800px;
}

.statshead{
    font-weight: lighter;
    color:grey;
}

.statsscore{
    font-weight: lighter;
    font-size: xx-large;
    color: rgb(89, 89, 212);
}
.statsdetmarks{
    display: flex;
    flex-direction: row;
    margin-top:10px;
}

.statsdetails,.statsmarks{
    display: flex;
    flex-direction: column;
}
.statsdetails{
    margin-right: 500px;
}
span{
    margin-bottom: 10px;
}

.btnss{
    margin-top: 15px;
}

.playagainbtn{
    background-color:rgb(89, 89, 212);
    border:2px solid blue;
    color: blue;
    border-radius: 5px;
    margin-right: 10px;
}

.backbtn{
    background-color:rgb(89, 89, 212);
    border:2px solid rgb(62, 202, 62);
    color: rgb(62, 202, 62);
    border-radius: 5px;
    margin-right: 10px;
}
